* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /*Rolagem suave*/
}

body {
    font-family: Arial, sans-serif; /* Define uma fonte padrão(Olhar outras) */
}

header {}

header img {
    height: 300px;
    width: 170px;
}

/* Estilo da navegação (nav) */
nav {}

nav a {}

nav a:hover {}


/* Estilo para as seções */

section {}

/* Estilo para a seção social */
#sobre-mim {}

/* Estilo para a seção social */
#social {}

#social a {}

#social a:hover {} /*deixar uma cor expecifica para cada icone*/